<settings>


  <mirrors>
    <mirror>
      <id>aol-depot-mirror</id>
      <name>AOL CM Depot Nexus Repository Manager (Depot.cm.aol.com)</name>
      <url>http://depot.cm.aol.com/nexus/content/groups/public</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>aol-nexus-mirror</id>
      <name>AOL CM Nexus Repository Manager</name>
      <url>http://cmmaven.cm.aol.com:8081/nexus/content/groups/public</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    <mirror>
      <id>aol-main-static-old</id>
      <name>AOL CM Static Website - OLD Maven Repositories</name>
      <url>http://maven.cm.aol.com</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
  
  <!-- localRepository>${TOP}/.m2_repository</localRepository -->
  
	<profiles>
		<profile>
			<id>aol-nexus-0001</id>
			<repositories>
				<repository>
					<id>aol-depot-nexus</id>
					<name>AOL CM Depot Nexus Repository Manager (Depot.cm.aol.com)</name>
					<url>http://depot.cm.aol.com/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>aol-main-nexus</id>
					<name>AOL CM Nexus Repository Manager</name>
					<url>http://cmmaven.cm.aol.com:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>aol-main-static-old</id>
					<name>AOL CM Static Website - OLD Maven Repositories</name>
					<url>http://maven.cm.aol.com</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>aol-depot-plugins-nexus</id>
					<name>AOL CM Depot Nexus Repository Manager (Depot.cm.aol.com)</name>
					<url>http://depot.cm.aol.com/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>aol-plugins-nexus</id>
					<name>AOL CM Nexus Repository Manager (Plugins)</name>
					<url>http://cmmaven.cm.aol.com:8081/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>aol-main-static-old</id>
					<name>AOL CM Static Website - OLD Maven Repositories</name>
					<url>http://maven.cm.aol.com</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>aol-nexus-0001</activeProfile>
	</activeProfiles>
</settings>
